<ion-view view-title="Loan Details">
  <ion-content style="width:100%;border:1px solid white;margin:5px;">
  <br/>
    <h3 style="border-bottom:2px solid dodgerblue;color:gray;">{{loan.title}}</h3>
	
	<table style="width:100%;">
	<tr>
		<td><p><span style="margin-left: 20%; color:dodgerblue;">Amount</span></p></td>
		<td><p><input class="loanview"  ng-model="loan.amount" disabled /></p></td>
	</tr>
	<tr>
		<td>	
			<p><span style="margin-left: 20%;color:dodgerblue;">Interest</span></p>
		</td>
		<td><p><input class="loanview" ng-model="loan.interest" disabled /></td></P>
	</tr>
	<tr>
		<td>	
			<p><span style="margin-left: 20%;color:dodgerblue;">Duration</span></p>
		</td>
		<td><p><input class="loanview" ng-model="loan.duration" disabled /></td></P>
	</tr>
	<tr>
		<td>	
			<p><span style="margin-left: 20%;color:dodgerblue;">Account Number</span></p>
		</td>
		<td><p><input class="loanview" disabled ng-model="loan.accountnumber"/></td></p>
	</tr>
	<tr>
		<td>	
			<p><span style="margin-left: 20%;color:dodgerblue;">Loan Status</span></p>
		</td>
		<td><p><input class="loanview" disabled ng-model="loan.status" /></td></p>
	</tr>
	</table>
  </ion-content>
</ion-view>
