<ion-view view-title="Apply Loan">
  <ion-content>
  <br/>
    <h2>{{title}}</h2>
	<br/>
	<span id="1" class="">
		<h4>What is the purpose of Loan?</h4>
		<br/>
		<div id="111" class="app_button margin2" value="Purchasing" name="loanPurpose" ng-model="loanReport.loanPurpose">
		<img src="img/ico_purchasing.png"/>
		<br/>
		<span><b>Purchasing</b></span>
		</div>
		<br/>
		<div id="112" class="app_button margin2" value="Refinancing" name="loanPurpose" ng-model="loanReport.loanPurpose">
		<img src="img/ico_refinancing.png"/>
		<br/>
		<span><b>Refinancing</b></span>
		</div>
	</span>
	<span id="2" class="hide">
		<h4>Are you a first Home buyer?</h4>
		<br/>
		<div id="221" class="app_button margin2" name="firstBuyer" ng-model="loanReport.firstBuyer" value="Yes">
		<img src="img/ico_yes.png"/>
		<br/>
		<span><b>Yes</b></span>
		</div>
		<br/>
		<div id="222" class="app_button margin2" name="firstBuyer" ng-model="loanReport.firstBuyer" value="No">
		<img src="img/ico_no.png"/>
		<br/>
		<span><b>No</b></span>
		</div>
	</span>
	<span id="3" class="hide">
		<h4>The Property wil be...</h4>
		<br/>
		<div id="331" class="app_button margin2" name="propertyType" ng-model="loanReport.propertyType" value="Occupied">
		<img src="img/ico_occupied.png"/>
		<br/>
		<span><b>Occupied</b></span>
		</div>
		<br/>
		<div id="332" class="app_button margin2" name="propertyType" ng-model="loanReport.propertyType" value="Investment">
		<img src="img/ico_investment.png"/>
		<br/>
		<span><b>Investment</b></span>
		</div>
	</span>
	<span id="4" class="hide">
		<h4>When do you need the finance?</h4>
		<br/>
		<div id="441" class="app_button margin2" name="loanNeedIn" ng-model="loanReport.loanNeedIn" value="ASAP">
		<img src="img/ico_asap.png"/>
		<br/>
		<span><b>ASAP</b></span>
		</div>
		<br/>
		<div id="442" class="app_button margin2" name="loanNeedIn" ng-model="loanReport.loanNeedIn" value="3Months">
		<img src="img/ico_3months.png"/>
		<br/>
		<span><b>3 Months</b></span>
		</div>
		<br/>
		<div id="443" class="app_button margin2" name="loanNeedIn" ng-model="loanReport.loanNeedIn" value="6Months">
		<img src="img/ico_6months.png"/>
		<br/>
		<span><b>6 Months</b></span>
		</div>
		<br/>
		<div id="444" class="app_button margin2" name="loanNeedIn" ng-model="loanReport.loanNeedIn" value="7+Months">
		<img src="img/ico_7months.png"/>
		<br/>
		<span><b>7+ Months</b></span>
		</div>
	</span>
	<span id="5" class="hide">
		<h4>Purchasing your property</h4>
		<br/>
		<label class="margin4">Estimated purchase price</label>
        <label class="item item-input input1">
			<i class="icon ion-social-usd"></i>
			<span> </span>
			<input type="number" max="9999" maxlength="4" ng-model="loanReport.price">
        </label>
        
		<label class="margin4">Property Location</label>
        <label class="item item-input input1">
			<i class="icon ion-location"></i>
			<span> </span>
			<input type="text" ng-model="loanReport.location" >
        </label>
		<label class="margin4">Your available funds</label>
        <label class="item item-input input1">
			<i class="icon ion-social-usd"></i>
			<span> </span>
			<input type="number" ng-model="loanReport.funds" >
        </label>
	</span>
	<span id="6" class="hide" >
		<h4>Whats is your income type?</h4>
		<br/>
		<div id="661" class="app_button margin2" name="incomeType" ng-model="loanReport.incomeType" value="Single">
		<img src="img/ico_single.png"/> 
		<br/>
		<span><b>Single</b></span>
		</div>
		<br/>
		<div id="662" class="app_button margin2" name="incomeType" ng-model="loanReport.incomeType" value="Joint">
		<img src="img/ico_joint.png"/>
		<br/>
		<span><b>Joint</b></span>
		</div>
	</span>
	<span id="7" class="hide">
		<h4>Your Income Details</h4>
		<br/>
		<label class="margin4">Gross Anuual Household Income</label>
        <label class="item item-input input1">
			<i class="icon ion-social-usd"></i>
			<span> </span>
			<input type="number" ng-model="loanReport.grossIncome" >
        </label>
		<br/>
		<label class="margin4">Other Incomes</label>
        <label class="item item-input input1">
			<i class="icon ion-social-usd"></i>
			<span> </span>
			<input type="number" ng-model="loanReport.otherIncomes" >
        </label>
		<br/>
		<label class="margin4">Other monthly loan repayments</label>
        <label class="item item-input input1">
			<i class="icon ion-social-usd"></i>
			<span> </span>
			<input type="number" ng-model="loanReport.repayments" >
        </label>
	</span>
	<span id="8" class="hide">
		<h4>Do You have a good credit history?</h4>
		<br/>
		<div id="881" class="app_button margin2" name="creditHistory" ng-model="loanReport.creditHistory" value="Yes">
		<img src="img/ico_yes.png"/>
		<br/>
		<span><b>Yes</b></span>
		</div>
		<br/>
		<div id="882" class="app_button margin2" name="creditHistory" ng-model="loanReport.creditHistory" value="No">
		<img src="img/ico_no.png"/>
		<br/>
		<span><b>No</b></span>
		</div>
	</span>
	<span id="9" class="hide">
		<h4>What is your current employment status?</h4>
		<br/>
		<div id="991" class="app_button margin2" name="employmentType" ng-model="loanReport.employmentType" value="Fulltime">
		<h4><b>Full time</b></h4>
		</div>
		<br/>
		<div id="992" class="app_button margin2" name="employmentType" ng-model="loanReport.employmentType" value="Casual">
		<h4><b>Casual</b></h4>
		</div>
		<br/>
		<div id="993" class="app_button margin2" name="employmentType" ng-model="loanReport.employmentType" value="Parttime">
		<h4><b>Part time</b></h4>
		</div>
		<br/>
		<div id="994" class="app_button margin2" name="employmentType" ng-model="loanReport.employmentType" value="Contractor">
		<h4><b>Contractor</b></h4>
		</div>
		<br/>
		
		<div id="995" class="app_button margin2" name="employmentType" ng-model="loanReport.employmentType" value="SelfEmployed">
		<h4><b>Self Employed</b></h4>
		<h5><b>(min 12 months)</b></h5>
		</div>
		<br/>
		
		<div id="996" class="app_button margin2" name="employmentType" ng-model="loanReport.employmentType" value="Unemployed">
		<h4><b>Unemployed</b></h4>
		</div>
		<br/>
	</span>
	<span id="10" class="hide">
		<h4>About You</h4>
		<br/>
		<label class="margin4">First name</label>
		<label class="item item-input input1">
			<span> </span>
			<input type="text" ng-model="loanReport.fname" >
        </label>
		<br/>
		<label class="margin4">Last name</label>
		<label class="item item-input input1">
			<span> </span>
			<input type="text" ng-model="loanReport.lname" >
        </label>
		<br/>
		<label class="margin4">Post Code</label>
		<label class="item item-input input1">
			<span> </span>
			<input type="number" ng-model="loanReport.postcode" >
        </label>
		<br/>
	</span>
	<span id="11" class="hide">
		<h4>About You</h4>
		<br/>
		<label class="margin4">Mobile number</label>
		<label class="item item-input input1">
			<i class="icon ion-iphone"></i>
			<span> </span>
			<input type="number" maxlength="10" ng-model="loanReport.mobileno">
        </label>
		<br/>
		<label class="margin4">Email Address</label>
		<label class="item item-input input1">
			<i class="icon ion-email"></i>
			<span> </span>
			<input type="email" ng-model="loanReport.emailid">
        </label>
		<br/>
		<label class="margin4">When is the best time for a licensed home loan professional to contact you?</label>
		<br/>
		<h5 class="margin4"><input type="radio" ng-model="loanReport.contactPreference" value="Anytime"/>	
			Anytime
		</h5>
		
		<h5 class="margin4"><input type="radio" ng-model="loanReport.contactPreference" value="Morning"/>	
			Morning
		</h5>
		<h5 class="margin4"><input type="radio" ng-model="loanReport.contactPreference" value="Afternoon"/>	
			Afternoon
		</h5>
		
		<h5 class="margin4"><input type="radio" ng-model="loanReport.contactPreference" value="Evening"/>	
			Evening
		</h5>
		<br/>
		<button class="button button-positive loginbtn margin4" ng-click="submit()">Submit</button>
		<br/>
	</span>
	<br/>
	<button id="previuos" class="button button-royal margin4 hide" ng-click="previuos()"><i class="icon ion-chevron-left"></i> Previous</button>
	<button id="next" class="button button-royal margin4 float" ng-click="next()">Next <i class="icon ion-chevron-right"></i> </button>
  </ion-content>
</ion-view>



