<ion-view>
  <ion-content style="background-color:#fff;">
  <ion-nav-bar class="bar-assertive">
  	<h3 class="fontwhite">Welocome</h3>
    </ion-nav-bar><br/>
  <div>
    <form">
<div style="height:20%;">

      <ion-slide-box auto-play="true" does-continue="true">
          <ion-slide ng-repeat="image in allImages">
              <img ng-src="{{image.src}}" class="loginimg"/>
          </ion-slide>
      </ion-slide-box>
  </div>
      <div class="list" style="margin-top:10%;">
      <h4 class="fontnavy margin1">Please login here!</h4>
      <label class="item item-input input">
			<i class="icon ion-person"></i>
			<span> </span>
			<input type="text" ng-model="loginData.username" placeholder="Username">
        </label>
		<br/>
        <label class="item item-input input">
			<i class="icon ion-key"></i>
			<span> </span>
			<input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
		<br/>

          <button class="button button-positive loginbtn" ng-click="doLogin(loginData)"><i class="icon ion-unlocked"></i>
		  <span> </span>Submit</button>
      </div>
    </form>
	</div>
  </ion-content>
</ion-view>
