<ion-view view-title="My Profile">
  <ion-content>
	<div class="profileicon">
		 <img src="img/ico_single.png" class="usericon2"/> <h4>{{username}} {{lastname}}</h4> 
	</div>
	<br/>
    <button class="green savebtn" ng-hide="btn" ng-click="save()">Save</button>
    <button class="editbtn float" ng-click="edit()" ng-hide="!btn" >Edit</button><br/><br/>
	
	<table style="width:100%">
	<tr style="height: 50px;">
			<td><span class="dodgerblue"  style="margin-left: 5%;margin-bottom:20px;">Firstname: </span></td>
			<td><input class="editinput" ng-model="firstname" ng-disabled="form"/></td>
	</tr>
	<tr style="height: 50px;">
			<td><span class="dodgerblue" style="margin-left: 5%;">Lastname: </span></td>
			<td><input class="editinput" ng-model="lastname" ng-disabled="form"/></td>
	<tr/>
	<tr style="height: 50px;">
			<td><span class="dodgerblue" style="margin-left: 5%;">Age: </span></td>
			<td><input class="editinput" ng-model="age" ng-disabled="form"/></td>
		</tr>
	<tr style="height: 50px;">
			<td><span class="dodgerblue" style="margin-left: 5%;">Address Line 1: </span></td>
			<td><input class="editinput" ng-model="addressLine1" ng-disabled="form"/></td>
		</tr>
	<tr style="height: 50px;">
			<td><span class="dodgerblue" style="margin-left: 5%;">Address Line 2: </span></td>
			<td><input class="editinput" ng-model="addressLine2" ng-disabled="form"/></td>
		</tr>
	<tr style="height: 50px;">
			<td><span class="dodgerblue" style="margin-left: 5%;">Address Line 3: </span></td>
			<td><input class="editinput" ng-model="addressLine3" ng-disabled="form"/></td>
		</tr>
	</table>
  
	</ion-content>
</ion-view>