<ion-view class="" view-title="My Loan Details">

  <ion-content>
    <ion-list>
		<ion-item>
		</ionitem>
     
	  <div ng-repeat="loan in loans" ng-click="viewLoan(loan)" style="width:100%;height:100px;border:1px solid white;margin:5px;background-color:WhiteSmoke;">
	   <div style="height:50%;border-bottom:1px solid white;">
			<div style="width:8%; float:left;">
				<img src="img/loanicon3.jpg" width="150%" height="40" style="margin:5px;"/> 
			</div>
			<div style="width:88%;float:right;">
				<h2 style="margin:12px;font-weight:1;font-stretch:10px;color:dodgerblue;">{{loan.title}}<h2> 
			</div>
	   </div>
	   <div style="height: 50%;">
	   <table style="width:100%">
	   <tr>
			<td>
				<h4 style="margin: 10px 0 5px 20%;color:dodgerblue;">Account Number</h4>
			</td>
			<td><h4 style="margin:10px 0 0 20%;color:dodgerblue; float:left;text-align:left;"> <b>{{loan.accountnumber}}</b></h4></td>
		</tr>
		<tr>
			<td>
				<h4 style="margin: 0 0 5px 20%;color:dodgerblue;">Status</h4>
			</td>
			<td><h4 style="margin:0 0 0 20%;color:dodgerblue;"> <b>{{loan.status}}</b></h4></td>
		</tr>
		<table>
	   </div>
	  </div>
    </ion-list>
  </ion-content>
</ion-view>
