<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-assertive">
		 <div class="textalign">
		 <img src="img/ico_single.png" class="usericon"/> {{username}} {{lastname}} <i class="icon ion-checkmark-circled"></i>
		  </div>
    </ion-header-bar>
    <ion-content class="content-dark">
      <ion-list>
        <ion-item menu-close href="#/app/loans">
          <i class="icon ion-cash menuicon"></i>
		  <span class="span">My Loans</span>
        </ion-item>
		<ion-item menu-close href="#/app/loanReport">
          <i class="ion-clipboard menuicon"></i>
		  <span class="span">Apply Loan</span>
        </ion-item>
		<ion-item menu-close href="#/app/uploadDocuments">
          <i class="ion-upload menuicon"></i>
		  <span class="span">Upload Documents</span>
        </ion-item>
		<ion-item menu-close ng-click="myDetail()">
		<i class="icon ion-person menuicon"></i>
          <span class="span">My Profile</span>
        </ion-item>
		<ion-item menu-close ng-click="logout()">
          <i class="icon ion-power menuicon"></i>
		  <span class="span">Logout</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
