/* Empty. Add your own CSS if you like */
.input{
	width: 90%;
	margin: auto;
	background: none;
	border-style: solid;
    	border-width: 0px 0px 2px 0px;
    	border-color: #ff4d4d;
    	align: center;
    	padding: 1px;
    	
}
.file{
	margin-left: 7%;
}
.btn-file{position:relative;overflow:hidden}
.btn-file input[type=file]{
	position:absolute;top:0;right:0;min-width:100%;min-height:100%;text-align:right;
	filter:alpha(opacity=0);opacity:0;background:none repeat scroll 0 0 transparent;cursor:inherit;display:block}
.file-caption .glyphicon{display:inline-block;min-width:18px;margin-top:2px}
 .file-caption-name{display:inline-block;overflow:hidden;max-height:20px;padding-right:10px;word-break:break-all}
 .file-caption-ellipsis{position:absolute;right:10px;margin-top:-6px;font-size:1.2em;display:none;font-weight:700;cursor:default}
 .kv-has-ellipsis .file-caption-ellipsis{display:inline}
 .kv-has-ellipsis{padding-right:17px}.
 kv-search-container .kv-search-clear{position:absolute;padding:10px;right:0}
 .file-error-message{background-color:#f2dede;color:#a94442;text-align:center;border-radius:5px;padding:5px}
 .file-error-message pre,.file-error-message ul{margin:5px 0;text-align:left}
 .file-caption-disabled{background-color:#EEE;cursor:not-allowed;opacity:1}
 .file-input .btn .disabled,.file-input .btn[disabled]{cursor:not-allowed}
 .file-preview{border-radius:5px;border:1px solid #ddd;padding:5px;width:100%;margin-bottom:5px}
 .file-preview-frame{display:table;margin:8px;height:160px;border:1px solid #ddd;box-shadow:1px 1px 5px 0 #a2958a;padding:6px;float:left;text-align:center;vertical-align:middle}
 .file-preview-frame:hover{box-shadow:3px 3px 5px 0 #333}
 .file-preview-image{height:160px;vertical-align:text-center}
 .file-preview-text{width:160px;color:#428bca;font-size:11px;text-align:center}
 .file-preview-other{padding-top:48px;text-align:center}
 .file-preview-other i{font-size:2.4em}
 .file-other-error{width:100%;padding-top:30px;text-align:right}
 .file-input-ajax-new .fileinput-remove-button,.file-input-ajax-new .fileinput-upload-button,.file-input-new .close,.file-input-new .file-preview,.file-input-new .fileinput-remove-button,.file-input-new .fileinput-upload-button,.file-input-new .glyphicon-file{display:none}
 .loading{background:transparent url(../img/loading.gif) no-repeat scroll center center content-box!important}
 .wrap-indicator{font-weight:700;color:#245269;cursor:pointer}
 .file-actions{text-align:left}.file-footer-buttons{float:right}
 .file-thumbnail-footer .file-caption-name{padding-top:4px;font-size:11px;color:#777}
 .file-upload-indicator{padding-top:2px;cursor:default}
 .file-upload-indicator:hover{font-size:1.2em;font-weight:700;padding-top:0}
 .file-drop-zone{border:1px dashed #aaa;border-radius:4px;height:100%;text-align:center;vertical-align:middle;margin:12px 15px 12px 12px;padding:5px}
 .file-drop-zone-title{color:#aaa;font-size:40px;padding:85px 10px}
 .highlighted{border:2px dashed #999!important;background-color:#f0f0f0}
 .file-uploading{background-image:url(../img/loading-sm.gif);background-position:center bottom 10px;background-repeat:no-repeat;opacity:.6}
 .file-icon-large{font-size:1.2em}
.loginbtn {
	
	margin-left: 5%;
	width: 90%;
}
input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: lighter;
}

/*background color classes */
.pink {
	background-color: #ff80bf;
}
.skyblue {
	background-color: #66b3ff;
}
.white {
	background-color: #ffffff;
}
.teal {
	background-color: #339966;
}
.orange{ 
	background-color: #ff6633;
}
.choco{
	backgroung-color: #331a00;
}
.darkblue{
	background-color: #1a0033;
}
.yellow{
	background-color: #e6a800;
}
.randblue{
	background-color: #6666ff;
}
.redo{
	background-color: #ff5c33;
}
.navyblue{
	background-color: #002533;
}
.color1{
	background-color: #00b3b3;
}
.light{
	background-color: #4d4d4d;
}
.randpink{
	background-color: #cc0052;
}
.darkpink{
	background-color: #4d001f;
}
.color2{
	background-color: #ff4d4d;
}
.green{
	background-color: #2eb82e;
}
.dodgerblue{
	color: DodgerBlue;
}

/*margin classes */
.margin1{
	margin-left: 5px;
}
.margin2{
	margin-left: 10px;
}
.margin3{
	margin-left: 15px;
}
.margin4{
	margin-left: 20px;
}
.savebtn{
	height: 30px;
	width: 60px;
	float: right;
	margin-right: 20px;
	color: white;
	border: none;
	border-radius: 5px;
}
.float{
	float: right;
	margin-right: 20px;
}
.editbtn{
	height: 30px;
	width: 60px;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: dodgerblue;
}

.editinput{
	height: 30px;
	width:160px;
	background-color: white;
	padding: 3px;
	border: 1px solid silver;
	border-radius: 5px;
	padding-left: 5px;
	height: 40px;
}
.editinput:disabled{
	border: none;
	background-color: #fff;
	background-color: WhiteSmoke;
	padding: 3px;
	height: 40px;
	border-radius: 0px;
}
.fontwhite{
	color: white;
}
.loginimg{
	height: 150px;
	width: 50%;
	margin-left: 25%;
}
.fontnavy{
	color: #002533;
}
.app_button{
	margin:auto;
	text-align:center;
	border: 3px solid gray;
	border-radius: 5px;
	width: 200px;
	height: 160px;
	padding: 40px;
}
.app_button_red{
	border-color: red;
}
.hide{
	display:none;
	
}
.span{
	margin-left: 15px;
	font-family: 
}
.menuicon{
	width: 30px;
}
.usericon{
height: 27px;
width: 27px;
border: 2px solid white;
border-radius: 35px;
}
.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #cc0066;
  fill: #444;
}
.profileview{
	padding: 5px;
	height: 40px;
}
.usericon2{
	height: 100px;
	width: 100px;
	border: 2px solid gray;
	border-radius: 5px;
}
.profileicon{
	margin-top: 20px;
	margin-left: 20px;
	border-bottom: 2px solid red;
}
.loanview{
	border:none;
	width: 160px;
	background-color: Linen;
	height: 40px;
	padding-left: 5px;
}